@font-face {
  font-family: "Ubuntu";
  src: url("https://fonts.googleapis.com/css?family=Ubuntu");
}

body {
  background-image: url("lego.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
}
